@media only screen and (min-width: 768px) and (max-width: 992px) {
    h2{
        font-size: 29px!important;
    }
    h1{
        font-size: 48px!important;  
        line-height: 60px!important;
      }
      .header-bottom h1{
          font-size: 35px!important;
          margin-bottom:0;
      }
      p{
        font-size: 15px!important;  
      }
      .main-nav-button{
          display: none!important;
      }
      .doctor{
          top:49%;
          left:55%;
          width:50%;
      }
      .doctor .pg-one , .doctor .pg-two{
          height:.76rem;
      }
      .checkup-button img {
          bottom:55%;
      }
    .under-section-one-wrapper{
        padding-top:3.5rem;
    }
    .service-div{
        padding:.6rem .8rem;
    }
    .service-div h4{
        font-size: 11px;
    }
    .service-div p{
        font-size: 13px!important;
    }
    .service-div h5 a{
        font-size: 15px;
    }
    .section-one-img img{
        margin-left:1rem;
    }
    .expirence-details p{ 
        font-size: 13px!important;
    }
    .section-two-left-img img{
        margin-left:1rem;
    }
    .appoinment .d-flex h5{
        font-size: 10px;
    }
    .appoinment p {
        font-size: 9px!important;
    }
    .section-two-wrapper .row .col-md-7 .row .col-sm-6{
        margin-top:1rem;
    }
    .expand p{
        font-size: 13px!important;
    }
    .section-two-2-right img:last-child{
        right:50%;
    }
    .slider-main-div .row .col-8 p{
        font-size: 11px!important;
    }
    .testimonial-slider{
        width:80%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        bottom: 26%;
    }
    .footer-left-part .d-flex div{
        margin:0;
    }
    @keyframes myfirst {
        0%   {left: 50px; top: 150px;}
        50%  { left:30%; top: 150px;}
        100% { left: 50px; top: 150px;}
      }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h2{
        font-size: 24px!important;
    }
    h1{
        font-size: 42px!important;  
        line-height: 50px!important;
      }
      .header-bottom h1{
          font-size: 26px!important;
          margin-bottom:0;
      }
      .nav-button{
        padding:11px 22px!important;
      }
      p{
        font-size: 14px!important;  
      }
      .main-nav-button{
          display: none!important;
      }
      .doctor{
          top:78%;
          left:55%;
          width:50%;
      }
      .doctor .pg-one , .doctor .pg-two{
          height:.76rem;
      }
      .checkup-button img {
          bottom:55%;
      }
    .under-section-one-wrapper{
        padding-top:3.5rem;
    }
    .service-div{
        padding:.6rem .8rem;
    }
    .service-div h4{
        font-size: 11px;
    }
    .service-div p{
        font-size: 13px!important;
    }
    .service-div h5 a{
        font-size: 15px;
    }
    .section-one-img img{
        margin-left:1rem;
    }
    .expirence-details p{ 
        font-size: 13px!important;
    }
    .section-two-left-img img{
        margin-left:1rem;
    }
    .appoinment .d-flex h5{
        font-size: 10px;
    }
    .appoinment p {
        font-size: 9px!important;
    }
    .section-two-wrapper .row .col-md-7 .row .col-sm-6{
        margin-top:1rem;
    }
    .expand p{
        font-size: 13px!important;
    }
    .section-two-2-right img:last-child{
        right:50%;
    }
    .slider-main-div .row .col-8 p{
        font-size: 11px!important;
    }
    .testimonial-slider{
        width:80%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        bottom: 26%;
    }
    .footer-left-part .d-flex div{
        margin:0;
    }
    .header-right{
        width:100%;
        height:430px;
    }
    .service-div{
        margin-top:1rem!important;
    }
    .section-one-img, .section-two-left-img {
        text-align: center;
    }
    .section-two-wrapper .col-md-5{
        order:2;
    }
    .section-two-2-right{
        width:100%;
        height:300px;
        text-align: center;
    }
    .pose2 ,.round-shape{
        right:9%;
    }
    .section-two-2-right img:first-child{
        right:10%;
    }
    .slider-main-div .row .col-4 img:nth-child(1){
        left:55%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        display: none;
    }
    .slider-main-div .row .col-8 h3{
        font-size: 12px!important;
    }
    .slider-main-div .row .col-8 p{
        font-size: 9px!important;
    }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
    h2{
        font-size: 21px!important;
    }
    h1{
        font-size: 33px!important;  
        line-height: 40px!important;
      }
      .header-bottom h1{
          font-size: 22px!important;
          margin-bottom:0;
      }
      .nav-button{
        padding:10px 20px!important;
      }
      p{
        font-size: 14px!important;  
      }
      .main-nav-button{
          display: none!important;
      }
      .doctor{
          top:70%;
          left:40%;
          width:50%;
      }
      .doctor .pg-one , .doctor .pg-two{
          height:.76rem;
      }
      .checkup-button img {
          bottom:55%;
      }
    .under-section-one-wrapper{
        padding-top:3.5rem;
    }
    .service-div{
        padding:.6rem .8rem;
    }
    .service-div h4{
        font-size: 11px;
    }
    .service-div p{
        font-size: 13px!important;
    }
    .service-div h5 a{
        font-size: 15px;
    }
    .section-one-img img{
        margin-left:1rem;
    }
    .expirence-details p{ 
        font-size: 13px!important;
    }
    .section-two-left-img img{
        margin-left:1rem;
    }
    .appoinment .d-flex h5{
        font-size: 10px;
    }
    .appoinment p {
        font-size: 9px!important;
    }
    .section-two-wrapper .row .col-md-7 .row .col-sm-6{
        margin-top:1rem;
    }
    .expand p{
        font-size: 13px!important;
    }
    .section-two-2-right img:last-child{
        right:50%;
    }
    .slider-main-div .row .col-8 p{
        font-size: 11px!important;
    }
    .testimonial-slider{
        width:80%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        bottom: 26%;
    }
    .footer-left-part .d-flex div{
        margin:0;
    }
    .header-right{
        width:100%;
        height:390px;
    }
    .service-div{
        margin-top:1rem!important;
    }
    .section-one-img, .section-two-left-img {
        text-align: center;
    }
    .section-two-wrapper .col-md-5{
        order:2;
    }
    .section-two-2-right{
        width:100%;
        height:300px;
        text-align: center;
    }
    .pose2 ,.round-shape{
        right:9%;
    }
    .section-two-2-right img:first-child{
        right:10%;
    }
    .slider-main-div .row .col-4 img:nth-child(1){
        left:55%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        display: none;
    }
    .slider-main-div .row .col-8 h3{
        font-size: 12px!important;
    }
    .slider-main-div .row .col-8 p{
        font-size: 9px!important;
    }
    .experience .row .section-heading h2 {
        line-height: 32px;
    }
    .slider-main-div .row .col-sm-4{
        display: none!important;
    }
    .slider-main-div .row .col-sm-4 img:nth-child(2){
        display: none!important;
    }
    .slider-main-div .row .col-sm-4 img:nth-child(3){
        display: none!important;
    }
    .image{
        position: relative;
        animation: myfirst linear 9s infinite;
      }
    @keyframes myfirst {
        0%   {left: 5px; top: 200px;}
        50%  { left:20%; top: 200px;}
        100% { left: 5px; top: 200px;}
      }
}
@media only screen and (min-width: 1px) and (max-width: 399px) {
    h2{
        font-size: 23px!important;
    }
    h1{
        font-size: 28px!important;  
        line-height: 35px!important;
      }
      .header-bottom h1{
          font-size: 19px!important;
          margin-bottom:0;
      }
      .nav-button{
        padding:9px 18px!important;
      }
      p{
        font-size: 12px!important;  
      }
      .main-nav-button{
          display: none!important;
      }
      .doctor{
          top:48%;
          left:45%;
          width:50%;
      }
      .doctor .pg-one , .doctor .pg-two{
          height:.76rem;
      }
      .checkup-button img {
          bottom:55%;
          left:0%;
          top:40%;
      }
    .under-section-one-wrapper{
        padding-top:0rem;
    }
    .service-div{
        padding:.6rem .8rem;
    }
    .service-div h4{
        font-size: 11px;
    }
    .service-div p{
        font-size: 13px!important;
    }
    .service-div h5 a{
        font-size: 15px;
    }
    .section-one-img img{
        margin-left:1rem;
    }
    .expirence-details p{ 
        font-size: 13px!important;
    }
    .section-two-left-img img{
        margin-left:1rem;
    }
    .appoinment .d-flex h5{
        font-size: 10px;
    }
    .appoinment p {
        font-size: 9px!important;
    }
    .section-two-wrapper .row .col-md-7 .row .col-sm-6{
        margin-top:1rem;
    }
    .expand p{
        font-size: 13px!important;
    }
    .section-two-2-right img:last-child{
        right:0%;
        bottom:10%
    }
    .slider-main-div .row .col-8 p{
        font-size: 11px!important;
    }
    .testimonial-slider{
        width:80%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        bottom: 26%;
    }
    .footer-left-part .d-flex div{
        margin:0;
    }
    .header-right{
        width:100%;
        height:330px;
    }
    .service-div{
        margin-top:1rem!important;
    }
    .section-one-img, .section-two-left-img {
        text-align: center;
    }
    .section-two-wrapper .col-md-5{
        order:2;
    }
    .section-two-2-right{
        width:100%;
        height:300px;
        text-align: center;
    }
    .pose2 ,.round-shape{
        right:9%;
    }
    .section-two-2-right img:first-child{
        right:0%;
    }
    .slider-main-div .row .col-4 img:nth-child(1){
        left:55%;
    }
    .slider-main-div .row .col-4 img:nth-child(2){
        display: none;
    }
    .slider-main-div .row .col-8 h3{
        font-size: 12px!important;
    }
    .slider-main-div .row .col-8 p{
        font-size: 9px!important;
    }
    .experience .row .section-heading h2 {
        line-height: 25px;
    }
    .slider-main-div .row .col-sm-4 img:nth-child(2){
        display: none!important;
    }
    .slider-main-div .row .col-sm-4 img:nth-child(3){
        display: none!important;
    }
    .image{
        position: relative;
        animation: myfirst linear 8s infinite;
        width:50%;
      }
    @keyframes myfirst {
        0%   {left: 2px; top: 100px;}
        50%  { left:16%; top: 100px;}
        100% { left: 2px; top: 100px;}
      }
}